row {
    display: -webkit-box !important;
}

/* custom fonts and styles */

h1, h2, h3, h4, h5 {
    font-family: 'Raleway';
    padding-top: 30px;
    padding-bottom: 10px;
}
h1 {
    font-weight:700;
    padding-top:40px;
    padding-bottom: 20px;
}


p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
}
i {
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    font-family: 'Source Sans Pro', sans-serif;
}

b {
    font-weight:800;
}


body {
  position: relative;
}

/* navbar */

.fixed-top {
    background:#f0f0f0;
    height: 100vh;
}

.fixed-top.shrink {
    height: 100px;
    background: white;
    transition: 1s;
    box-shadow: 1px 1px 2px #888888;
}

.navbar-default {
    background: none;
    border: none;
    display:block;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-nav.mr-auto{
   opacity:0;
}
.navbar-nav.mr-auto.shrink{
   opacity: 1;
}
/* buttons */

.btn{
    background: none;
    color:#fff;
    border:#fff solid;
    font-weight: 200;
}
.btn:hover{
    color:#fff;
    font-weight: 800;
}


/* portfolio items */

#portfolio-item {
    width:100%;
    height:300px;
    background-repeat: no-repeat;
    background-size:cover;
}

#portfolio-container:hover #portfolio-overlay {
    opacity: 1;
}


#portfolio-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

#portfolio-text h3{
  color: white;
    text-align: center;
    margin-top:25%;
    margin-left: 25%;    
}

#portfolio-item-top{
    text-align:left;
    color:#fff;
    background-size:cover;
    height:100vh;
    border-bottom: #fff 10px solid;
}
#portfolio-item-image{    
    height:600px;
    background: url(ASSETS/HealthApp/health_app.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 30%;
}


#portfolio-item-image img {
    width:110%;
}

#portfolio-item-title {
    text-align: center;
    padding: 100px;
}

#portfolio-item-section{
    text-align: center;
    height: 400px;
    border: white 4px solid;
    background-size: cover !important;
}

#workMe {
    color:white;
    background: grey;
}

