h1, h2, h3, h4, h5 {
font-weight: 100;
font-family: Raleway;
color:#000
}

h1 {
font-size: 40px;
font-family: Raleway;
text-align: center;
font-weight: 300;
padding-top: 15px;
padding-bottom: 15px;
}

h2 {
font-size: 32px;
}

h3 {
font-size: 24px;
}

h4 {
font-size: 16px;
font-weight:300; 
}

h5 {
font-size: 14px;
}

nav {
    background-color: lightgrey;
}
nav .nav-wrapper {
    background-color:cornflowerblue;
    background-size: cover;
    color:#fff;
    transition: all .5s;
    z-index: 933333333;
}
nav .nav-wrapper.shrink {
  height: 100px;
  color:cornflowerblue;
  background: #263238;
}

nav .brand-logo {
    display: none;
}
nav .brand-logo.shrink {
    position: absolute;
    display: inline-block;
    font-size: 2.1rem;
    padding: 20px;
    white-space: nowrap;
    font-weight: 200;
}

nav .nav-wrapper .tagline {
    padding-top: 150px;
    text-align: center;
}
nav .nav-wrapper.shrink .tagline{
    display:none;
}
a#projects.shrink{
    align-content: center;
    font-size:50px;
}


nav ul a{
    display:none;
}
nav ul a.shrink{
    display:grid;
}

a {
    color:cornflowerblue;
}

nav a {
    color: cornflowerblue;
    padding:20px;
}

col s7 push-s5 img{
    width:50%;
}


#introSection {
        display: -webkit-box;
}
.introThing {
    text-align: center;
    width: 33%;
    height: 800px;
    padding:20px;
    background: #eaeaea;
    border: white solid 1px;
}
.introThing h1{
    padding-top: 200px;
}

#portfolioSection {
    display: -webkit-box;
}

.portfolioItem{
    text-align: center;
    width: 49%;
    height: 600px;
    padding:20px;
    background: #000;
    border: white solid 1px;
}
.portfolioItem img{
    padding-top: 100px;
}

#item1 {
}

#item2 {
}
#item2::before,#item2::after  {
}
.asymmetricA {
	position: relative;
  margin-top:50px;
}

.asymmetricA::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #7CCBF2;
	transform-origin: top left;
	transform: skewY(2deg);
	z-index: -10;
}

.asymmetricA::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #7CCBF2;
	transform-origin: bottom left;
	transform: skewY(-2deg);
	z-index: -10;
}

.asymmetricB {
	position: relative;
	background-color: #000;
    color:#fff;
    margin-top:50px;

}

.asymmetricB::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	transform-origin: top right;
	transform: skewY(-2deg);
	z-index: -10;
}

.asymmetricB::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	transform-origin: bottom right;
	transform: skewY(2deg);
	z-index: -10;
}


body {
	margin: 0 auto;
	background-color: #EEEEEE;
	font-family: sans-serif;
}

section {
	padding: 100px 0;
}

h2 {
    padding-top: 110px;
	padding-bottom: 100px;
	text-align: center;
	text-transform: uppercase;
    font-weight: 600;
}

p {
	width: 70%;
	margin: 0 auto;
	line-height: 2;
	font-size: 18px;
}

#item1, #item1::before, #item1::after {
    background:antiquewhite;
}
#item2, #item2::before, #item2::after {
    background: lightblue;
}
#item3, #item3::before, #item3::after {
    background: lightgreen;
}

#section1 {
    display:none;
}
#buttonDropDown {
    width:100%;
    text-align: center;
}
}
